.addflashcards {
    &--button {
        width: 200px;
        margin: 10px;
        background: white;
        padding: 5px;
        border-radius: 5px;
    }
    &--input {
        width: 400px;
        height: 100px;
    }
    &--text {
        color: black;
    }
}