$blue-1: #7491A1;
$blue-2: #88AABD;
$white-1: rgba(255,255,255,0.6);
$white-2: rgba(255,255,255,0.9);
$gray: rgba(0,0,0,0.6);
$pastel-turquoise: #A4EBDB;
$pastel-yellow: #FDFD96;
$pastel-pink: #F8D1DC;
$pastel-navy: #779ECB;
$pastel-purple: #B3A0DB;
$pastel-red: #ff6961;
$pastel-beige: #E8D1C0;
$pastel-orange: #F8C181;
$pastel-light-blue: #DEF5FB;

.height {
    &-default { //0-15 min
        min-height: 17px;
    }
    &-15-30 {
        min-height: 25px;
    }
    &-30-60 {
        min-height: 40px;
    }
    &-60-120 {
        min-height: 60px;
    }
    &-120-240 {
        min-height: 80px;
    }
    &-240 {
        min-height: 100px;
    }
}

.bg {
    &-default {
        background: $white-2;
    }
    &-coding {
        background: $pastel-turquoise
    }
    &-clientwork {
        background: $pastel-yellow
    }
    &-myinstagram {
        background: $pastel-light-blue;
    }
    &-nap {
        background: $pastel-pink;
    }
    &-studythai {
        background: $pastel-purple;
    }
    &-running {
        background: $pastel-red;
    }
    &-muaythai {
        background: $pastel-red;
    }
    &-selfcare {
        background: $pastel-pink;
    }
    &-timelog {
        background: $pastel-pink;
    }
    &-food {
        background: $pastel-pink;
    }
    &-badhabits {
        background: $white-1;
    }
    &-rov {
        background: $white-1;
    }
    &-Baow {
        background: $pastel-pink;
    }

}

.timelog {
    background: transparent;
    width: 100vw;
    height: 100vh; 
    text-align: center;
    &--container {
        &-main {
            background: $blue-1;
            margin: 0 auto;
            max-width: 1200px;
            height: 100%;
        }
        &-secondary {
            // background: $blue-2;
            background: $white-2;
            height: 92%;
            width: 95%;
            margin: 0 auto;
        }
        &-buttons {
            padding-top: 5px;
            // background: black;
        }
    }
    &--title {
        padding-top: 5px;
        padding-bottom: 8px;
    }
    &--date {
        padding-top: 10px;
        & button {
            font-size: 16px;
            cursor: pointer;
            background: transparent;
            border: none;
            margin-right: 10px;
            margin-left: 10px;
        }
        
    }
    &--entry {
        padding: 5px 0 5px 0; 
        // background: red;
        height: 90%;
    }
    &--todayslog {
        width: 95%;
        margin: 0 auto;
        margin-top: 5px;
        text-align: left;
        max-height: 500px;
        overflow-y: scroll;

        &--hashtag-data-container {
            // background: white;
            width: 95%;
            margin: 0 auto;
            margin-top: 5px;
            text-align: left;
            font-weight: 600;
            font-size: 14px;
            display: flex;
            flex-wrap: wrap;

            & button {
                background: transparent;
                border: none;
                height: 20px
            }

            & div {
                padding: 2px;
                height: 20px;
                margin-right: 8px;
                margin-bottom: 8px;
            }
        }
        
        &--entry {
            margin-bottom: 4px;
            padding: 4px;
            & p {
                font-size: 14px;
                margin: 0;
            }
            &-hashtags {
                padding-left: 5px;
                font-size: 12px;
                color: $gray;
            }
            &-caption {
                // padding-left: 1px;
                font-size: 12px;
                font-style: italic;
            }
        }
    }
    &--button {
        &-edit {
            cursor: pointer;
            background: $white-1;
            // width: 60px;
            padding: 5px 10px 5px 10px;
            margin: 10px 10px 5px 0; 
            border: 2px solid $blue-1;
            border-radius: 10px;
            &:hover {
                background: $blue-1;
            }
        }
    }
    &--input {
        &-timelog{
            padding: 8px;
            font-size: 14px;
            width: 95%;
            min-height: 500px;
            margin-top: 10px;
        }
    }
}