$white-1: rgba(255,255,255,0.6);
$blue-1: #7491A1;

.blueoutlinebtn {
    cursor: pointer;
    background: $white-1;
    // width: 60px;
    padding: 5px 10px 5px 10px;
    margin: 10px 10px 5px 0; 
    border: 2px solid $blue-1;
    border-radius: 10px;
    &:hover {
        background: $blue-1;
    }
}