.deckbuttons--container {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;

}

.deckbuttons--row {
    display: flex;
    left: 0;
    justify-content: space-between;
    width: 360px;
  }

.deckbutton {
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    text-align: center;
    width: 50px;
    font-size: 15px;
    padding: 5px 0 5px 0;
    box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.5);
}
  