

.input {
    width: 400px;
    height: 100px;
}

.button {
    margin: 10px;
    /* color: white; */
    background: white;
    padding: 5px;
    border-radius: 5px;
}

.results {
    margin-top: 10px;
}