.card-container {
    padding-bottom: 20px;
}

.card {
    /* background-color: green; */
    position: relative;
    height: 400px;
    cursor: pointer;
    width: 380px;
    margin: 0 auto;
    text-align: center;
    /* background: blue; */
    display: flex;
    flex-direction: column;
    align-content: space-between;
    /* background-color: rgba(255, 251, 251, 1); */
}



.card-top {
    display: flex;
    align-content: space-between;
}

.back-button {
    width: 100%;
    text-align: left;
    z-index: 2;
}

.date-created {
    text-align: center;
    width: 100%;
    /* background: blue; */
    color: gray; 
    font-size: 12px;
}

.exposure {
    text-align: right;
    width: 100%;
    /* background: red; */
    padding-right: 5px;
}

.front-text{
    color: #333;
    font-size: 2.3em;
    padding-top: 25%;
    padding-right: 10px;
    padding-left: 10px;
}

.back-text{
    color: #333;
    font-size: 2.3em;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

.edit-mode-row {
    /* background-color: green; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.edit-mode-row input{
    height: 40px;
    font-size: 20px;
    margin: 5px;
}

.pronunciation{
    font-style: italic;
    font-size: 25px;
}

.thai {
    padding-top: 10px;
}

.card-bottom-row {
    position: absolute;
    bottom: 0px;
    /* background-color: purple; */
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* height: 100%; */
    padding: 3px;
}

.last-review {
    /* height: 100%; */
    /* tex */
    /* background: red;  */
    position: relative;
    text-align: center;
}

.last-review span {
    color: gray; 
    font-size: 14px;
}

.edit-button-section {
    margin-right: 10px;
}

.fade-out {
    opacity: 0;
    animation: fade-out 0.5s;
}

.fade-in {
    animation: fade-in 0.5s;
}
 
@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1}
}

@keyframes fade-out {
    0% { opacity: 1 }
    100% { opacity: 0}
  }