    .json-cards-data {
    margin-top: 5px;
    width: 400px;
    height: 30px;
  }
  
  .card-row {
    display: flex;
    justify-content: center;
  }
  
  .previous-card-row {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .edit-row {
    width: 400px;
    display: flex;
    align-content: space-between;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .edit-row-section {
    width: 100%;
  }

  
  .row {
    text-align: center;
    margin-top: 15px;
  }

  .near-white {
    background: rgb(241, 241, 241);
  }

  .light-yellow-gradient {
    /* went to https://cssgradient.io/ to generate this gradient*/
    /* #fea614, 0 | #fee758, 35 | #fffbc0, 100 */
    background: rgb(254,166,20);
    background: linear-gradient(0deg, rgba(254,166,20,1) 0%, rgba(254,231,88,1) 35%, rgba(255,251,192,1) 100%);
  }

  .dark-grey {
    background: rgba(126,126,126,1)
  }

  .light-brown {
    background: #e0c5ab
  }

  .black-grey-gradient {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(126,126,126,1) 33%, rgba(126,126,126,1) 100%);
  }
  
  .gray {
    background: lightgray;
  }
  
  .purple {
    background: #AB3B7F;
  }
  
  .orange {
    background: #F28945;
  }
  
  .yellow {
    background: #FEDD33;
  }
  
  .green {
    background: #7EAE2E;
  }
  
  .blue {
    background: #40A9D6;
  }