.background {
    background: transparent;
    height: 40px;
    border: none;
    width: 100%;
}

.container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 370px;
}

.select-deck-button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    font-style: oblique;
    border: none;
    height: 100%;
    width: 30px;
}