.background {
    background: #666363;
    height: 40px;
    border-width: 10px 0 10px 10px;
    border-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: darkgrey;
    height: 340px;
}

.select-deck-button {
    cursor: pointer;
    font-size: 15px;
    font-style: oblique;
    /* color: rgba(0, 0, 0, 0.8); */
    border-width: 0 0 0 10px;
    border-color: rgba(0, 0, 0, 0.2);
    margin: 0px;
    height: 100%;
    width: 40px;
}