.ratingbtns--container {
  display: flex;
  width: 400px;
  margin: 0 auto;
}

.ratingbtns--row {
  width: 370px;
  display: flex;
  box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.9);
}
  
.ratingbtn {
  cursor: pointer;
  font-size: 1.5em;
  height: 50px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: auto;
  border: none;
  /* box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.5); */
  
}